# Copyright 2021 Cory Johns
# See LICENSE file for licensing details.
#
options:
  metric-allowlist:
    type: string
    description: |
      Comma-separated list of metrics to be exposed. This list comprises of
      exact metric names and/or regex patterns. The allowlist and denylist are
      mutually exclusive.
    default: ""
  metric-denylist:
    type: string
    description: |
      Comma-separated list of metrics not to be enabled. This list comprises of
      exact metric names and/or regex patterns. The allowlist and denylist are
      mutually exclusive.
    default: ""
  metric-labels-allowlist:
    type: string
    description: |
      Comma-separated list of additional Kubernetes label keys that will be
      used in the resource' labels metric. By default the metric contains only
      name and namespace labels. To include additional labels provide a list of
      resource names in their plural form and Kubernetes label keys you would
      like to allow for them (e.g., '=namespaces=[k8s-label-1,k8s-label-n,...],pods=[app],...').
      A single '*' can be provided per resource instead to allow any labels,
      but that has severe performance implications (e.g., '=pods=[*]').
    default: ""
  namespaces:
    type: string
    description: |
      Comma-separated list of namespaces to limit monitoring to.
    default: ""
  resources:
    type: string
    description: |
      Comma-separated list of Resources to override the default set of Resources to monitor.
    default: ""
